# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
runs
eclipse
# Auto-RC Git Hooks
# Uncomment next line if you don't want to commit hooks
# .githooks/
